# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Misc Files
*.d
AudioExample/UniCast/makefile
*.mk
*.d
*.obj
AudioExample/UniCast/makefile
*.mk
*.map
*.out
*.xml
*.prefs
*.opt
CC3200-ili9341-LCD-display-master/Release/makefile
LAMP/UniCast/makefile
*.bin
CC3200-ili9341-LCD-display-master/Release/timer_cc
LAMP/.launches/LAMP.launch
sdhost_fatfs/Release/makefile
sdhost_fatfs/Release/sdhost_fatfs.bin
sdhost_fatfs/Release/makefile
*.bin
LAMP/.launches/LAMP.launch
LAMP Demo/UniCast/makefile
Shake.wav